@use '../media';


.common-services {

	@include media.mobile {
		padding-top: 68px;
	}

	&__header {
		margin-bottom: 80px;

		@include media.table {
			margin-bottom: 50px;
		}

		@include media.mobile {
			margin-bottom: 32px;
		}
	}

	&__sliding-container {
		& .article-card:first-child {
			grid-column-start: 1;
			grid-column-end: 3;
		}
	}
}