@use '../media';

.partnership-stages {

	@include media.mobile {
		padding-top: 66px;
	}

	@include media.mobile {
		padding-top: 66px;
	}

	&__header {
		margin-bottom: 130px;

		@include media.table {
			margin-bottom: 70px;
		}
	
		@include media.mobile {
			margin-bottom: 32px;
		}
	}
}