
.position-slider {
	position: relative;

	&__list {
		&::before {
			content: "";
			position: absolute;
			display: block;
			width: 1px;
			height: 100%;
			background-color: #717071;
		}
	}

	&__runner-wrapper {
		position: absolute;
		top: 0;
		width: 2px;
		height: 100%;
		overflow-y: hidden;
		pointer-events: none;
	}

	&__runner {
		position: absolute;
		display: block;
		top: 0;
		width: 1px;
		height: 0%;
		background-color: #FFFFFF;
		transition: top 0.5s;
	}
}
