@use '../variables/base';
@use '../variables/colors';
@use '../mixins';
@use '../media';

.section {
	padding-block: base.$section-padding-y; 
	position: relative;

	&--unpadding-top {
		padding-top: 0;
		padding-bottom: base.$section-padding-y;
	}

	&--unpadding-y {
		padding-top: 0;
		padding-bottom: 0;
		padding-inline: 0;
	}
	
	&--lighten {
		background-color: colors.$bg-section;
	}

	@include media.table {
		padding-block: base.$section-padding-y-md; 
	}

	@include media.mobile {
		padding-block: base.$section-padding-y-sm; 
	}

	&__content {
		display: flex;
		flex-direction: column;
		row-gap: 50px;
	}

	&__body--overflow-hidden {
		overflow: hidden;
	}

	&__body--lighten {
		background-color: colors.$bg-section;
	}
	
	&__header {
		min-height: 84px;
		margin-bottom: 160px;
		display: flex;
		flex-wrap: wrap; 
		column-gap: 8%;

		@include media.table {
			margin-bottom: 64px;
			min-height: 84px;
		}

		@include media.mobile {
			margin-bottom: 32px;
			min-height: 32px;
		}
	}

	&__title {
		display: inline-block;
		flex: 6;
	}

	&__middle-title {
		@include mixins.fluid-text(35, 20);
	}

	&__subtitle {
		display: inline-block;
		width: 40%;
		line-height: 1.77;
		flex: 4;
		@include mixins.fluid-text(35, 14);
		font-weight: 300;
	}


	&__description {
		font-size: 24px;
	}

	&--background-right-backlight {
		&::before {
			content: "";
			position: absolute;
  		height: 100%;
			width: 100%;
			display: block;
			background-image: url('/assets/images/gradient-half-spot.svg');
			background-repeat: no-repeat;
			background-position-x: right;
			top: -120px;
			right: 0px;
			z-index: -1;
			@include media.mobile {
				display: none;
			}
		}
	}

	&--background-backlight {
		&::before {
			content: "";
			position: absolute;
  		height: 250%;
			width: 100%;
			display: block;
			background-image: url('/assets/images/gradient-circle-spot.svg');
			background-repeat: no-repeat;
			background-position-x: center;
			top: -200px;
			left: 0;
			z-index: -1;
			@include media.table-above {
				display: none;
			}
		}
	}
}