$color-bg-main: #131112;
$color-bg-section: #191919;
$color-bg-section-alt: #1B1A1B;

$color-bg-section-part: #1B1B1B;
$color-bg-section-part-compl: #24222C;

$color-bg-section-part-alt: #211F21;
$color-bg-section-part-compl-alt: #2D243E;

$color-bg-item: #1D1B1C;

$color-accent: #5415E4;


