$accent: #5415E4;

$bg-main: #131112;
$bg-section: #191919;
$bg-section-alt: #1B1A1B;
$bg-section-alt2: #1D1B1C;
$bg-section-alt3: #2B2B2B;

$bg-section-part: #1B1B1B;
$bg-section-part-compl: #24222C;

$bg-section-part-alt: #211F21;
$bg-section-part-compl-alt: #2D243E;

$bg-item: #1D1B1C;
$bg-item-alt: #222222;
$bg-item-alt2: #282627;

$bg-button: #5415E4;
$bg-button-alt: #42393D;
$bg-button-alt2: #1C1C1C;

$border-item: #999999;
$border-item-alt: #FFFFFF;
$border-item-alt2: #6F6F6F;

$text: #FFFFFF;
$text-button: #FFFFFF;
$text-menu: #B3B3B3;
$text-alt: #F5F5F5;
$text-sub: #A7A7A7;


